<ul class="pager">
  <li class="previous">
    <%= link_to '← Older', user_projects_path(@user, @week.prev_week(:thursday).year, @week.prev_week(:thursday).cweek) %>
  </li>
  <li><b><%= @user.username %>: <%=l @week.beginning_of_week %> - <%=l @week.end_of_week %></b></li>
  <li class="next">
    <%= link_to 'Newer →', user_projects_path(@user, @week.next_week(:thursday).year, @week.next_week(:thursday).cweek) %>
  </li>
</ul>

<table class="table table-striped table-bordered">
  <tr>
    <th><%= Project.model_name.human %></th>
    <th><%= Entry.human_attribute_name(:hours) %></th>
  </tr>
  <% @projects.each do |k, v| %>
    <tr>
      <td><%= k %></td>
      <td><%= v %></td>
    </tr>
  <% end %>
  <tr>
    <td><b>Total</b></td>
    <td><b><%= @project_sum %></b></td>
  </tr>
</table>
