<input type="month" id="month-select" name="month" value="<%= @selectedMonth.strftime '%Y-%m' %>">

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <% @weeks.each do |week| %>
      <th class="<%= week.cweek == Date.today.cweek ? 'current' : '' %>">CW <%= week.cweek %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
<% @planned_hours.each do |ph| %>
  <tr>
    <td><%= ph[:user].username %></td>
    <% ph[:utilization].each do |utilization| %>
      <td>
        <span class="other-planned-hours"
           title="<% ph[:user].planned_hours_by_project_in_week(utilization[:week]).each do |otherPlannedHours| %>
                    <%= otherPlannedHours.name %>: <%= otherPlannedHours.hours %><br />
                  <% end %>">
          <span class="badge <%= if utilization[:hours] == 100 then 'badge-success' elsif utilization[:hours] > 100 then 'badge-warning' end %>"><%= utilization[:hours] %>%</span>
        </span>
      </td>
    <% end %>
  </tr>
<% end %>
  </tbody>
</table>