<%- model_class = Project.new.class -%>
<div class="row">
  <div class="span12"><h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1></div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:finished) %></th>
      <th><%= model_class.human_attribute_name(:estimated_effort) %></th>
      <th><%= model_class.human_attribute_name(:actual_hours) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr data-link="<%= project_path(project) %>">
        <td><%= project.name %></td>
        <td><%=t project.finished?.to_s %></td>
        <td><%= project.estimated_effort %></td>
        <td><%= project.actual_hours %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_path(project), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      project_path(project),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= page_navigation_links @projects %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_path,
            :class => 'btn btn-primary' %>
