<div class="control-group nested-fields">
  <%= f.label :task_id, :class => 'control-label' %>
  <div class="controls">
    <% if f.object.editable? %>
      <%= f.grouped_collection_select :task_id, Project.active, :tasks, :name, :id, :name %>
      <%= f.number_field :hours, :class => 'number_field', :step => 'any' %> h
      <%= f.text_field :description, :class => 'text_field' %>
      <%= link_to_remove_association "Remove entry", f %>
    <% else %>
      <%= f.object.task.project.name %> - <%= f.object.task.name %>: <%= f.object.hours %> <%= f.object.description %>
    <% end %>
  </div>
</div>
