<style>
body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 28px;
  text-align: center;
  color: #808080;
  font-weight: bold;
}

.logo {
  text-align: center;
}

.contact, header, .sum {
  font-size: 14px;
}

header .weekly-hours, .date {
  float: right;
}

.clear {
  clear: both;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

table {
  width: 100%;
  font-size: 15px;
}

header, table, .sum, footer {
  margin-top: 30px;
}

.date {
  margin-right: 200px;
}

</style>
<%- model_class = Timesheet.new.class -%>
<h1>ARBEITSZEITNACHWEIS</h1>

<div class="logo">
  <%= image_tag 'rails.png' %>
</div>

<div class="contact">
  ...
</div>

<header>
  <span class="name"><b>Mitarbeitername:</b> <%= current_user.username %></span>
  <span class="weekly-hours"><b>Arbeitszeit:</b> <%= current_user.working_hours %> Stunden pro Woche</span>
</header>

<div class="clear"></div>
<hr />

<table>
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:start_time) %></th>
      <th><%= model_class.human_attribute_name(:end_time) %></th>
      <th><%= model_class.human_attribute_name(:lunch_break) %></th>
      <th><%= model_class.human_attribute_name(:hours_worked) %></th>
      <th><%= model_class.human_attribute_name(:entries) %></th>
    </tr>
  </thead>
  <tbody>
    <% @timesheets.each do |timesheet| %>
      <tr>
        <td><%=l timesheet.date %></td>
        <td><%=l timesheet.start_time, :format => :short %></td>
        <td><%=l timesheet.end_time, :format => :short %></td>
        <td><%= timesheet.lunch_break %></td>
        <td><%= timesheet.hours_worked %></td>
        <td>
          <% timesheet.entries.each do |entry| %>
            <%= entry.task.project.name %> - <%= entry.task.name %>: <%= entry.description %><br />
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="sum"><b>Wöchentliche Gesamtarbeitszeit:</b> <%= @hours_worked %></div>

<footer>
  <span class="signature">Unterschrift Mitarbeiter: </span>
  <span class="date">Datum: </span>
</footer>
<hr />