<%- model_class = Timesheet.new.class -%>
<div class="row">
  <div class="span10"><h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1></div>
  <div class="span2">
    <%= render :partial => 'navigation' %>
  </div>
</div>

<%= render :partial => 'timesheet_table' %>

<%= page_navigation_links @timesheets %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_timesheet_path,
            :class => 'btn btn-primary' %>

