<%- model_class = Timesheet.new.class -%>
<div class="row">
  <div class="col-md-10">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  </div>
  <div class="col-md-2">
    <%= render :partial => 'navigation' %>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <%= render :partial => 'timesheet_table' %>
  </div>
  <div class="col-md-3">
    <div class="well well-small">
      <b><%=l @week.beginning_of_week %> - <%=l @week.end_of_week %></b>
      <div>Hours worked: <%= @hours_worked %></div>
    </div>

    <div class="well well-small">
      <b>Projects for this week (actual / planned):</b>
      <div>
        <table class="table">
          <% @assigned_hours.each do |ah| %>
          <tr>
            <td><%= ah[:name] %></td>
            <td class="nowrap"><b><%= format_hours ah[:actual_hours] %> / <%= format_hours ah[:planned_hours] %></b></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>


<ul class="pager">
  <li class="previous">
    <%= link_to '← Older', weekly_timesheets_path(thursday_of_week(@week.prev_week).year, @week.prev_week.cweek) %>
  </li>
  <li class="next">
    <%= link_to 'Newer →', weekly_timesheets_path(thursday_of_week(@week.next_week).year, @week.next_week.cweek) %>
  </li>
</ul>
<%= link_to(weekly_timesheets_path(@week.year, @week.cweek, :format => :print), :class => 'btn btn-default', :target => "_blank") do %>
  <i class="icon-print"></i> Print
<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_timesheet_path,
            :class => 'btn btn-primary' %>

<%= link_to t('.new_multiple'),
            new_multiple_timesheets_path,
            :class => 'btn btn-default' %>

